*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 15px 5px 15px 5px;
    background-color: black;
    height: 100%;
  }

  /**********CONTACTO*********/
  div {
    margin-top: 5px;
    padding: 5px;
  }

  .rows {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    padding: 5px;
  }

  .card {
    display: flex;
    align-items: center;
    background-color: #222;
    color:white;
    border: 5px bold white;
  }
  /************FOTEER**********/
  footer {
    display: flex;
    justify-content:center;
    align-items:flex-end;
    height: 100%;
    background: #000;
  }
  
  .navbar {
    color: #6610f2;  
  }

  .banner {
    width: 100%;
    /*height: auto;*/
    margin: 5px;
  }

  .card-img-top {
    width: 50%;
    height: auto;
  }
  /*MEDIA QUERY*/

  @media (max-width:768px) and (min-width: 200px) {
    footer {
      width: 100%;
    }
  }